#slide1{
		background-image: url(../images/Wall-E_Cubecolors.jpg);
	}
#slide2{
		background-image: url(../images/slide-2.jpg);
	}
#slide3{
		background-image: url(../images/slide-3.jpg);
	}
#slide4{
		background-image: url(../images/slide-4.jpg);
	}

/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: cover;
	}
	.slide{
		background-size: cover;
		background-position: center;
	}

.home{
	position: fixed;
	z-index: 99999;
	top:15px;
	left:15px;
}