html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
h1{
    color: white;
    font-size: 140px;
    text-align: center;
}
h2{
    color: white;
    font-size: 46px;
    text-align: center;
}
a{
    animation-duration: 3s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeIn;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}
.wall-e-logo{
    padding: 1em;
    margin: 0 auto; 
    max-width: 100%;
    width: 718px;
    height:195px;
    margin-top: 5em;
}
img{
    max-width: 88%;
    
}
.icons{
    display: flex;
    justify-content: center;
    margin-top: 16em;
    flex-wrap: wrap;
}
.trailer,
.story,
.gallery{
    padding: 2em;
    margin-right: 2em;
    width: 90px;
    height: 90px;
    flex-direction: row;
    cursor: pointer;
}
.trailer:hover{
    background: url(images/trailer-text.png);
}
.story:hover,
.gallery:hover{
    
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: white;
}
.close{
    width: 35px;
    height: 35px;
    margin-top:10em;
    margin-left: 5em;
    cursor: pointer;
}

/*Icon labels hover
---------------------------------------------*/
.icons .item{
    position: relative;
    overflow: hidden;
}
.icons .item:hover span{
        bottom: 0;
}
.icons .item span{
    position: absolute;
    bottom: -50px;
    background: rgba(255,165,0,.8);
    width: 100%;
    text-align: center;
    color: white;
    padding: .7em 0 1.2em 0;
    transition:all 1s ease-in-out;
}

/* Overlay
------------------------------------------*/

.overlay {
    position: fixed;
    left: 0;
    top:0;
    width:100%;
    height: 100%;
    z-index:1000;
    background: rgba(47,57,91,.5);
}

.overlay div{
    margin: 1em auto;
   
    padding-bottom: -1em;
    padding-top: 1px;
    /*min-height: 500px;    */
}

.accessibly-hidden{
    position: absolute;
    left: -999em;
}

/*Video*/

.video-container {
    max-width:600px;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; 
    overflow: hidden;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}
/*Key frames for Page Transitions
----------------------------------------------*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/*Media Queries
------------------------------------------------*/
@media (max-width: 767px) {

    .fullscreen-bg {
        background: url(../images/ipad-bg.jpg);
        background-position: center;
            }

    .fullscreen-bg__video {
        display: none;
    }
    .icons{
        display: flex;
        justify-content: center;
        padding: 2em;
        margin:0 auto;
    }

    .gallery{
        order:2;
    }
    .story{
        order:3;
    }
   .close{
    margin-left: 0;
   }
}
@media (max-width: 400px) {

    .wall-e-logo{
        height: 86px;
    }
    .fullscreen-bg {
        background: url(../images/iphone.jpg) no-repeat;
            }
}