html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
h1{
    color: white;
    font-size: 140px;
    text-align: center;
}
h2{
    color: white;
    font-size: 46px;
    text-align: center;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}
.wall-e-logo{
    padding: 1em;
    margin: 0 auto; 
    max-width: 100%;
    width: 718px;
    height:195px;
    margin-top: 5em;
}
img{
    max-width: 88%;
}
.icons{
    display: flex;
    justify-content: center;
    margin-top: 16em;
    flex-wrap: wrap;
}
/*.icon span{
    position: absolute;
    top: 50px;
    background: rgba(255, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    transition: all 1s ease-in-out;
}
*/.trailer,
.story,
.gallery{
    padding: 2em;
    margin-right: 2em;
    width: 90px;
    height: 90px;
    flex-direction: row;
}
.trailer:hover{
    background: url(images/trailer-text.png);
}
.story:hover,
.gallery:hover{
    
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: white;
}

@media (max-width: 767px) {

    .fullscreen-bg {
        background: url(images/star-bg2.jpg);
            }

    .fullscreen-bg__video {
        display: none;
    }
   
}